 .box {
   -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
   -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow:0 0 10px rgba(0, 0, 0, 0.5);	
 }


 .nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color:#00688B !important;
  border: medium none;
  border-radius: 1;
  color:#fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #00688B;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: white;
}

.form-horizontal .form-group {
  margin-right:0px !important;
  margin-left:0px !important;
}

 #minhaDiv{
      padding: 6px;
      width:60%;
      position: absolute;
      top:200px;
      z-index: 3;
      left:301px;

      display: none;
    }

    .panel-heading{
      background-color: #00688B!important;
      border-color: #00688B!important;
    }
    .panel-primary{
      border-color: #00688B!important;
    }

    .table{
      width: 70%!important;
    }